<nav id="header" class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" [routerLink]="['/home']">APT</a>
    	</div>
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav navbar-right">

						<li><a [routerLink]="['/search']"><i class="material-icons">search</i> Search</a></li>

						<li><a [routerLink]="['/search']"><i class="material-icons">group</i> Recent Subscribers</a></li>

						<li><a [routerLink]="['/settings']"><i class="material-icons">settings</i> Settings</a></li>
        		<li class="dropdown">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
        			<ul class="dropdown-menu">
					  		<li><a [routerLink]="['/search']"><i class="material-icons">search</i> Search</a></li>
					      <!--li class="divider"></li>
				      	<li><a [routerLink]="['/settings']"><i class="material-icons">settings</i> Settings</a></li-->
        			</ul>
        		</li>
    		</ul>
    	</div>
	</div>
</nav>
