
//Global styles


//Don't do this.  Use the proper style mechanism to change colors.
body {
  background-color: #f5f5f5;
}

//Make the bootstrap grid columns the same height
//Is there a bootstrap way to do this?
@media (min-width: 768px) {
  .table-row {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .table-row [class^="col-"] {
    display: table-cell;
    float: none;
  }
}

//Diminish the opacity when fields are disabled.  Should look up the official material design opacity for disabled.
.form-control[disabled], .form-control[disabled] ~ label{
  opacity: .45;
}
