.notification-info{
  background-color: #0ab1fc;
  color: #ffffff;
}
.notification-success{
  background-color: #55b559;
  color: #ffffff;
}
.notification-warning{
  background-color: #fbc53c;
  color: #ffffff;
}
.notification-danger{
  background-color: #f55145;
  color: #ffffff;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.notification {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.notification {
  padding: 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  //border-radius: 4px;
  .notification-icon {
    display: block;
    float: left;
    margin-right: 15px;
    i {
      margin-top: -7px;
      top: 5px;
      position: relative;
    }
  }
}
