<div class="notification" [ngClass]="{'notification-info': not.nt===1, 'notification-success': not.nt===2, 'notification-warning': not.nt===3, 'notification-danger': not.nt===4}">
  <div class="container-fluid">
    <div class="notification-icon">
      <i class="material-icons"></i>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true"><i class="material-icons">clear</i></span>
    </button>
    <b></b> {{not.title}}
  </div>
</div>
